


 <br>
<div class="container">
  <% if signed_in? %>
    <%= link_to 'Create New Publication', new_publication_path, class: "btn btn-dark float-end"%>
  <%end%>  
</div>

  <tbody>
  <br>
  <br>
  <div class="container">

  <%= search_form_for @q do |f| %>
    <%= f.label :name %>
    <%= f.search_field :name_matches %>
    <%= f.submit %>
  <% end %>

    <h1 id="publications" class="text-center">Publications</h1>   
        <div class="row"> 
          <% @publications.each do |publication| %>
            <div class="col-6 col-md-4 py-2">
              <div class="card" style="width: 18rem;">
                <img src="<%= url_for(publication.image) %>" class="card-img-top" alt="Image Animal">
                <div class="card-body">
                    <h5 class="card-title text-end">Available: 
                      <% if publication.available %>
                        <i class="far fa-check-circle"> </i>
                      <%else%>
                        <i class="far fa-times-circle"></i>
                      <%end%>
                    </h5>
                    <h5 class="card-title"><%= publication.name%></h5>
                    <h5 class="card-title"><%= publication.califications.count%>
                     <% if calification(publication, current_user) %>
                        <td>
                            <%= link_to publication_calification_path(publication, calification(publication, current_user)), method: :delete do %>
                                <i class="fas fa-star"></i>
                            <% end %>
                        </td>
                        
                    <% else %>
                        <td>
                            <%= link_to publication_califications_path(publication), method: :post do %>
                                <i class="far fa-star"></i>
                            <% end %>
                        </td>
                    <% end %></h5>

                    
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Age: <%= publication.age %></li>
                      <li class="list-group-item">Description: <%= publication.description %></li>
                      <li class="list-group-item">
                        <strong>Documents: </strong>
                        <ul>
                          <% publication.documents.each do |document| %>
                          <li>
                            <%= link_to document.blob.filename.to_s, document %>
                          </li>
                          <% end %>
                        </ul>
                      </li>
                      <li class="list-group-item">User: <%= image_tag(publication.user.profile_picture.attached? ? publication.user.profile_picture : 'default_profile_picture.png', class: "rounded-circle", width: "45", height: "45", data: {"bs-toggle":"tooltip", "bs-placement":"top"}, title:"Tooltip on top" ) %></li>
                      <li class="list-group-item">Email: <%= publication.user.email %></li>              
                      
                      <li class="list-group-item">Need: $<%= publication.amountoraise %></li>              
                      <li class="list-group-item">Donations: $<%= publication.confirmed_donations_amount %></li>
                      
                      <% if signed_in? %>
                          <li class="list-group-item">
                              <a href="#" class="card-link"><%= link_to 'Show', publication %></a>
                            <% if publication.user == current_user%>
                                <a href="#" class="card-link"><%= link_to 'Edit', edit_publication_path(publication) %></a>
                            <% end%>
                          </li>
                      <strong class="text-center"><%= link_to 'View donations', publication_donations_path(publication) %> </strong>
                      <%end%>  
                    </ul>
                </div>  
              </div>    
            </div>  
            <% end %>  
      </div>
      </div>    
  </tbody>
<br>


