<%= form_with(model: donation, url: [@publication, donation], local: true) do |form| %>
  <% if donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

      <ul>
      <% donation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field mb-3"> 
    <%= form.label :amount %>
    <input class="form-control" <%= form.number_field  :amount %>
  </div>
  

  <div class="actions">
    <%= form.submit class:"btn btn-dark" %>
  </div>
<% end %>



