   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
  <div class= "formloginn container">  
    <main class="form-signin">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
            width="72" height="57" viewBox="0 0 1280.000000 1209.000000"
            preserveAspectRatio="xMidYMid meet">
            <metadata>
            Created by potrace 1.15, written by Peter Selinger 2001-2017
            </metadata>
            <g transform="translate(0.000000,1209.000000) scale(0.100000,-0.100000)"
            fill="#000000" stroke="none">
            <path d="M8296 12077 c-31 -23 3 -38 75 -35 70 3 87 20 38 37 -43 15 -91 14
            -113 -2z"/>
            <path d="M8280 11934 c-187 -17 -324 -51 -440 -109 -95 -48 -194 -79 -229 -72
            -25 5 -34 1 -60 -29 -17 -19 -47 -66 -66 -105 -42 -82 -121 -169 -154 -169
            -116 0 -271 -266 -338 -580 -26 -121 -26 -484 -1 -550 28 -72 38 -269 48 -955
            10 -625 20 -856 42 -942 8 -35 15 -43 33 -43 34 0 46 -22 56 -102 11 -89 50
            -171 124 -261 94 -114 179 -171 280 -187 63 -10 105 -32 112 -60 7 -25 45 -40
            143 -56 145 -24 425 -15 525 16 17 6 42 26 58 45 28 35 103 65 238 95 31 7 81
            24 110 39 50 24 54 28 51 59 -2 36 11 46 80 57 51 8 172 90 255 172 92 93 150
            180 159 241 8 57 25 87 61 104 37 18 69 78 102 196 34 117 63 178 91 187 31
            10 55 52 93 160 46 133 74 190 108 225 39 38 48 66 64 190 46 349 43 1193 -6
            1528 -15 104 -29 137 -69 164 -25 17 -39 36 -48 68 -23 80 -45 113 -142 215
            -53 55 -108 121 -123 147 -15 27 -41 55 -56 63 -48 25 -168 53 -321 76 -159
            23 -285 52 -311 72 -9 6 -32 24 -51 39 -18 15 -61 34 -93 43 -61 15 -243 26
            -325 19z"/>
            <path d="M3565 11888 c-46 -16 -74 -47 -83 -92 -12 -61 -39 -71 -143 -51 -113
            21 -145 20 -163 -7 -9 -12 -16 -38 -16 -56 0 -46 -55 -102 -100 -102 -44 0
            -85 -43 -94 -100 -9 -60 -21 -72 -62 -64 -32 6 -35 4 -48 -27 -7 -19 -16 -77
            -20 -129 -9 -127 -20 -164 -57 -193 -42 -33 -48 -76 -33 -222 25 -225 65
            -1025 79 -1550 10 -352 22 -414 81 -399 34 9 46 -24 60 -163 14 -134 23 -160
            56 -165 35 -5 65 -78 99 -239 47 -227 77 -309 114 -309 21 0 55 -58 55 -93 0
            -87 171 -288 374 -441 112 -84 181 -122 287 -156 117 -37 143 -58 134 -106 -7
            -42 5 -43 91 -13 32 11 160 47 284 79 341 89 417 120 406 165 -7 29 8 41 62
            50 135 22 285 227 347 473 28 111 65 205 95 237 37 40 53 166 71 562 13 296 6
            1148 -10 1268 -17 124 -57 248 -113 357 -57 112 -135 234 -166 262 -30 26 -57
            104 -86 248 -46 223 -61 258 -133 298 -61 34 -269 232 -344 326 -27 34 -56 78
            -64 97 -20 49 -73 72 -266 112 -169 36 -257 62 -349 103 -30 13 -77 31 -105
            38 -58 16 -197 17 -240 2z"/>
            <path d="M11435 8083 c-220 -26 -355 -67 -471 -141 -93 -60 -175 -98 -230
            -107 -97 -16 -121 -43 -134 -153 -10 -74 -67 -194 -146 -307 -54 -78 -144
            -175 -161 -175 -6 0 -15 14 -18 32 l-7 32 -24 -27 c-32 -37 -84 -205 -94 -302
            -13 -128 -50 -204 -146 -305 -80 -85 -107 -166 -118 -358 -8 -137 -30 -239
            -72 -337 -19 -45 -34 -84 -34 -87 0 -4 15 -4 33 -1 30 4 35 2 45 -23 19 -52
            23 -96 32 -354 14 -412 57 -587 177 -722 44 -50 86 -128 112 -210 19 -58 91
            -132 157 -159 135 -57 178 -84 218 -137 59 -79 84 -84 396 -90 272 -4 437 6
            632 39 186 32 235 55 153 73 -69 15 -69 14 -55 31 7 8 42 29 78 47 88 41 153
            108 181 184 29 77 61 118 125 159 59 38 81 71 91 139 7 50 40 96 69 96 22 0
            56 49 56 80 0 46 56 141 145 245 123 145 185 271 220 447 23 117 63 236 85
            251 11 7 23 25 29 39 23 61 36 285 36 648 0 498 -18 667 -74 685 -27 8 -51 54
            -51 98 0 54 -42 186 -82 258 -45 80 -108 146 -145 154 -39 8 -75 27 -83 45
            -39 86 -47 96 -95 122 -120 65 -331 98 -610 96 -104 0 -203 -3 -220 -5z"/>
            <path d="M824 8011 c-64 -11 -174 -47 -236 -77 -48 -25 -69 -44 -46 -44 45 -1
            -123 -69 -381 -156 -11 -4 -13 -102 -8 -622 7 -744 18 -883 78 -958 40 -51 73
            -162 114 -390 42 -232 72 -331 113 -378 29 -34 52 -105 52 -164 0 -41 43 -104
            91 -132 58 -35 87 -92 99 -199 14 -120 25 -150 66 -167 39 -16 72 -69 103
            -164 34 -105 59 -139 123 -174 32 -17 104 -73 160 -124 166 -152 315 -243 458
            -279 166 -41 680 -17 887 42 32 9 71 31 99 56 26 22 74 54 107 70 33 16 69 37
            80 46 26 23 56 91 57 124 0 36 23 53 60 46 43 -9 55 10 68 102 12 81 24 113
            63 162 36 45 50 162 56 464 8 392 -11 574 -62 597 -31 14 -51 58 -60 133 -10
            82 -27 121 -59 129 -30 7 -65 64 -91 146 -30 94 -62 148 -104 175 -49 30 -71
            85 -113 278 -33 155 -57 220 -88 239 -31 19 -58 68 -86 155 -34 106 -66 159
            -106 172 -40 13 -175 128 -380 320 -170 161 -298 261 -332 261 -27 0 -52 25
            -67 67 -12 37 -39 49 -137 63 -83 12 -110 25 -119 60 -12 49 -56 82 -148 107
            -61 17 -242 25 -311 14z"/>
            <path d="M6 7258 c-8 -32 -6 -139 3 -162 19 -49 44 67 29 137 -10 51 -22 60
            -32 25z"/>
            <path d="M6122 6589 c-66 -11 -109 -33 -117 -60 -10 -31 -67 -50 -176 -60
            -145 -12 -244 -58 -364 -169 -108 -100 -181 -142 -291 -170 -95 -23 -119 -39
            -136 -91 -19 -57 -50 -78 -131 -89 -73 -11 -130 -35 -188 -81 -40 -32 -69 -37
            -69 -14 0 38 -40 -8 -88 -100 -44 -86 -144 -163 -241 -185 -71 -17 -117 -57
            -126 -113 -10 -56 -21 -76 -50 -87 -43 -16 -70 -113 -110 -381 -25 -166 -51
            -293 -73 -350 -6 -15 -24 -36 -40 -48 -31 -21 -52 -79 -52 -140 0 -17 -9 -55
            -21 -86 -17 -46 -35 -68 -117 -142 -53 -48 -151 -142 -217 -208 -128 -127
            -163 -181 -204 -307 -28 -85 -53 -118 -91 -118 -37 0 -63 -28 -91 -99 -38 -95
            -78 -157 -155 -242 -88 -98 -151 -218 -185 -354 -26 -107 -51 -167 -83 -206
            -34 -40 -46 -106 -57 -314 -13 -246 6 -588 36 -668 4 -10 16 -22 27 -28 31
            -17 66 -106 99 -251 16 -73 40 -153 52 -178 20 -41 25 -45 57 -45 33 0 36 -2
            46 -46 16 -63 37 -100 98 -172 29 -34 88 -109 131 -166 79 -104 153 -170 190
            -171 32 0 85 -38 103 -73 42 -80 121 -127 215 -127 41 0 101 -38 105 -66 4
            -30 47 -50 131 -63 69 -11 155 -40 310 -106 129 -55 367 -85 669 -85 180 0
            377 -14 430 -31 20 -7 37 -21 42 -35 13 -33 41 -42 178 -55 134 -13 468 -6
            577 12 70 11 125 32 125 48 0 13 50 32 110 42 30 5 145 14 255 19 225 10 297
            21 338 51 15 11 58 27 95 34 98 21 413 51 767 75 571 38 804 67 834 104 17 21
            162 53 342 76 168 22 317 54 364 78 17 8 46 32 65 52 28 30 45 40 83 45 53 8
            103 49 142 115 25 43 79 80 117 80 45 0 95 26 110 57 18 39 80 66 233 103 126
            30 175 50 175 70 0 6 -14 23 -32 39 -37 33 -33 43 32 76 60 30 96 87 105 165
            10 86 24 119 55 135 51 26 71 134 71 390 0 244 -22 377 -63 391 -28 9 -64 93
            -103 244 -37 141 -55 184 -87 203 -29 17 -64 101 -93 225 -32 135 -65 207
            -104 230 -40 23 -51 50 -62 154 -11 113 -29 156 -69 169 -32 12 -60 53 -60 88
            0 43 -42 129 -96 195 -56 70 -98 144 -133 236 -26 68 -60 117 -91 130 -36 16
            -55 46 -91 149 -39 111 -64 151 -106 170 -35 16 -63 63 -63 108 -1 45 -20 116
            -37 135 -8 9 -29 20 -47 23 -87 19 -201 126 -237 225 -26 71 -80 126 -215 218
            -110 75 -217 164 -256 213 -16 19 -37 58 -46 85 -23 63 -55 85 -197 129 -139
            43 -169 64 -160 111 5 31 3 35 -22 45 -79 31 -124 63 -221 155 -168 158 -350
            285 -556 386 -126 61 -198 83 -225 69 -31 -17 -40 -13 -49 21 -5 20 -19 39
            -38 50 -36 21 -158 38 -269 38 -86 0 -219 21 -255 40 -11 6 -20 17 -20 25 0
            47 -193 78 -338 54z m101 -81 c27 -14 20 -25 -19 -30 -48 -6 -119 5 -118 17 4
            31 87 39 137 13z"/>
            </g>
        </svg>

        <h1 class="h3 mb-3 fw-normal text-center">Please sign up</h1>
       

        <div class="form-floating">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          <%= f.label :email %>
        </div>

        <div class="form-floating">

         


            <%= f.password_field :password, autocomplete: "new-password", class: "form-control"  %>
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            
            
            
            
        </div>

        <div class="form-floating">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          <%= f.label :password_confirmation %><br />
          
        </div>

        <div class="form-group row">
          <div class="col-sm-12 mb-6 mb-sm-0">
            <% if devise_mapping.rememberable? %>
                <div class="field text-start">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
            <% end %>
          </div> 
        </div>
        
        <%= f.submit "Sign up", class: "btn btn-lg btn-primary" %>
        <p class="mt-5 mb-3 text-muted">© 2021</p>
        <%= render "users/shared/links"%>
      
      <% end %>
    </main>
  </div>














